body{
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

label{
    color: black;
    font-weight: 600;
    
}
input[type=text] {
    width: 30%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin-right: 100% ;

 }
button{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 10px;
    font-weight: 600;
    margin: 5px;
}
h2{
    margin-left: 10px;
    /* margin-right: 25%; */
   
    font-family: 'Sono', sans-serif;
}
h1{
    margin-left: 30%;
}

#res{
    margin-left: 45%;
    margin-right: 25%; 
    font-family: 'Stick No Bills', sans-serif;
    color: aliceblue;
}

h3{
    margin: 30px;
    font-family: 'Edu NSW ACT Foundation', cursive;         
}
.container-fluid{
    margin-top: 20px;
    padding: 20px 20px;
    align-items: center;
    align-content: center;
    /* border: 2px solid black ; */
    border-radius:10px;
    width: 100%;

}
.row{
    width:100%;
}   
/* .row .col-lg-6{
    margin-top:20px;
    border: 2px solid black;
    border-radius: 10px;
} */
.row .col-lg-12 , .row .col-lg-6 {
    
    border: 2px solid black;
    border-radius: 10px;  
    margin-top: 2%;
    position: relative; 

}
.img-fluid{
    width: 40%;
    height:95%;   
    position: absolute;
    bottom: 7px;
    right: 20px;
    border-radius: 10px;
}
.cimg{
    margin-left: 20%;
}
h5{
    font-family: 'Stick No Bills', sans-serif;
    margin-left: 40%;
    font-weight: 900;
    font-size: 20px;
}
.col-lg-4{

    margin-top: 2%;
}